TZ={{Timezone}}
WEBPASSWORD={{pihole_password}}
DNS1={{pihole_dns1}}#5335
DNS2={{pihole_dns2}}#5335
DNSSEC=True
HOSTNAME={{ inventory_hostname_short }}
VIRTUAL_HOST={{ inventory_hostname_short }}
PROXY_LOCATION=pi.hole
MAXDBDAYS=180