TZ=America/New_York
WEBPASSWORD=password123
DNS1=8.8.8.8
DNS2=1.1.1.1
DNSSEC=True
HOSTNAME=pi.hole
VIRTUAL_HOST=pi.hole
PROXY_LOCATION=pi.hole
ServerIP={{ ansible_default_ipv4.address }}
PIFACE={{ ansible_default_ipv4.address }}
